body
{
    background-image: url(wall.jpg);
    background-size: cover;
    text-align: center;
}
span
{
   
    text-shadow: 20px;
    font-size: 70px;
    color: #355269;
   right: 547px;
   font-family:Dyuthi;
  

}
#form
{
    margin-top: 100px;
}
#user
{
    margin: 20px;
    width: 300px;
    height: 30px;
}
#dd
{
    size: 40px;
    margin: 10px;
}
#log
{
    background-color: white;
    width: 300px;
    height: auto;
    margin-top: 10px;
    margin-left: 480px;
    color: black;
}
a{
    text-decoration: none;
    margin-top: 10px;
    color: #355269;
    font-size: bold;
}

#singup
{
    text-align: right;
    margin-right: 30px;
    margin-top: 10px;
    text-decoration: none;
    color: #355269;
    
}











